.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px yellowgreen;
    color:darkgreen;
}
.note{
    font-size: 15px;
    color: darkgreen;
}

.copy_right_footer{
    position: fixed;
    color: darkgreen;
    bottom: 0;
    width: 100%;
    background-color: yellowgreen;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid lightgreen;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkgreen;
}